{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">
      <form method="post">
        {% csrf_token %}
          <P> R U SURE? {{object.title}}</P>
        <input class="btn btn-danger" type="submit" value="Delete" />
        <button type="button" class="btn btn-default" onClick="window.history.back();">
                Cancel
        </button>

          <!--<P>{{request.user}}</P>-->
    </form>
  </div>
</div>


{% endblock %}