{% extends 'base.html' %}

{% block content %}

    <!--<a href="{% url 'home' %}">-->
        <!--Home-->
    <!--</a>-->
    <!---->
    <dl>
        <dt>Company</dt>
        <dd><a href="{{object.company_url}}" target="_blank">
            {{object.company_name}}</a>
        </dd>
    
        <dt>Description</dt>
        <dd>{{object.description|linebreaks}}</dd>
    
        <dt>Tags</dt>
        <dd>{{object.tag_list}}</dd>
    
        <dt>Owner</dt>
        <dd>{{object.owner}}</dd>
    
        <dt>
         {% if request.user == object.owner %}
            <!--{{object.listing_type}}-->
            <button type="button" class="btn btn-default btn-lg">
                <a href="{{object.get_absolute_url}}edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </button>
            <button type="button" class="btn btn-default btn-lg">
                <a href="{{object.get_absolute_url}}delete">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a>
            </button>
            {% else %}
                <button type="button" class="btn btn-info btn-lg">
                {% if object.listing_type == object.OFFER %}
                    request
                {% else %}
                    offer
                {% endif %}
                    this item
                </button>
            {% endif %}
        </dt>
        <dd></dd>
    </dl>
    
{% endblock %}